input::-webkit-input-placeholder, isindex::-webkit-input-placeholder {
    white-space: pre;
    word-wrap: normal;
    overflow: hidden;
}


.test1234{
    display: none;
}
/*#if defined(ENABLE_DATALIST_ELEMENT) && ENABLE_DATALIST_ELEMENT*/
datalist {
    display: none;
}
/*#endif*/

/*#if defined(ENABLE_INPUT_TYPE_DATE) && ENABLE_INPUT_TYPE_DATE*/
input[type="date"] {
    -webkit-align-items: center;
    -webkit-appearance: menulist-button;
    display: -webkit-inline-flex;
    overflow: hidden;
    /*#if !(defined(WTF_PLATFORM_IOS) && WTF_PLATFORM_IOS)*/
    width: 10em;
    /*#endif*/
}
/*#endif*/
/*#if defined(ENABLE_INPUT_TYPE_DATETIME_INCOMPLETE) && ENABLE_INPUT_TYPE_DATETIME_INCOMPLETE*/
input[type="datetime"] {
    -webkit-align-items: center;
    -webkit-appearance: menulist-button;
    display: -webkit-inline-flex;
    overflow: hidden;
    /*#if !(defined(WTF_PLATFORM_IOS) && WTF_PLATFORM_IOS)*/
    width: 10em;
    /*#endif*/
}
/*#endif*/