{namespace tpl.tools}
/**
 * @param moduleName
 */
{template .indexHTML}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>欢迎使用信念开发工具</title>
</head>
<body>
<script type="text/javascript" srcd="http://localhost/static/{$moduleName}/js/seed.js"></script>
</body>
</html>
{/template}