{namespace tpl.bottomBar}
/**
 * 底部bar  showQingIconStyle
 * @param data
 */
{template .bar2}
<div class="wa-ticket-a wa-ticket-b">
<a class="wa-ticket-g" data-action="ecomBottomBar-iconBtn" onclick="javascript:void(0);" {if 1}1{/if}>
<i class="wa-ticket-f"></i>
<br/>
</a>
<ul class="$$_cssFunctionStart_$$showCount-{length($data)} icon-container {if length($data)}ddddd{/if}$$_cssFunctionEnd_$$">
    {call .ulBtns}
        {param data:$data /}
    {/call}
    <li class="wa-ticket-o" data-action="ecomBottomBar-showMore">
            <a onclick="javascript:void(0);">更多</a>
    </li>
</ul>
</div>
{/template}